# .htaccess Apache web sunucusu tarafından kullanılan web alanı üzerinde çeşitli komutlar
# vererek ayar değişimleri yapılmasına olanak sağlayan dosyadır.
# URL-Rewrite ayarları tanımlanmıştır. Belirtilen alan web sunucusuna istekte bulunulduğunda direkt olarak
# public dizini altında ki php dosyalarının yorumlanmasını amaçlamaktadır.
# Bu ayarlar projenin MVC çatısını oluşturan Phalcon Framework'ün resmi sitesinden alınmıştır.

<IfModule mod_setenvif.c>
    SetEnvIf Host "www.domain.com" APPLICATION_ENV=production
    SetEnvIf Host "stage.domain.com" APPLICATION_ENV=stage
    SetEnvIf Host "dev.domain.com" APPLICATION_ENV=development
    SetEnvIf Host "test.domain.com" APPLICATION_ENV=test
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule  ^$ public/    [L]
    RewriteRule  (.*) public/$1 [L]
</IfModule>