<!-- Bootstrap core CSS -->
<link href="http://statics.example.com/assets/library/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Font-Awesome core CSS -->
<link href="http://startbootstrap.com/templates/modern-business/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<!-- Typeahead core CSS -->
<link href="http://statics.example.com/assets/library/typeahead/css/typeahead.css" rel="stylesheet" />