<!DOCTYPE html>
<html lang="en">
<head>
    {{> common/head/meta}}
    {{> common/head/css}}
    {{> common/head/scripts}}
    <title>{{project-setting.name}} | {{project-setting.title}}</title>
</head>
<body>
<div id="wrapper">
    {{> common/header}}
    {{{content}}}
</div>
{{> common/footer}}
{{> common/footer/scripts}}
{{> common/page_scripts }}
{{> script_refactor}}
</body>
</html>